<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.email.query.mapper.EmailQueryMapper">
    <select id="getCampaignSatisfaction" resultType="be15fintomatokatchupbe.email.query.dto.response.CampaignSatisfactionDTO">
        SELECT
              a.satisfaction_id
            , a.email_status
            , a.is_reacted
            , a.response_date
            , a.sent_date
            , b.campaign_name
            , d.name as clientManagerName
            , d.email
            , e.client_company_name
            , f.name as userName
            , g.name as influencerName
         FROM satisfaction a
         JOIN campaign b ON a.campaign_id = b.campaign_id
         JOIN pipeline p ON p.campaign_id = b.campaign_id
         JOIN client_manager d ON d.client_manager_id = a.client_manager_id
         JOIN client_company e ON e.client_company_id = d.client_company_id
         JOIN user f ON f.user_id = p.writer_id
         JOIN influencer g ON g.influencer_id = a.influencer_id
        <where>
            b.campaign_status_id = 5
            AND p.pipeline_step_id = 7
            <choose>
                <!-- ALL 검색: keyword가 여러 필드 중 어디든 포함되면 통과 -->
                <when test="searchType == 'all' and keyword != null and keyword != ''">
                    AND (
                    g.name LIKE CONCAT('%', #{keyword}, '%') -- 인플루언서명
                    OR d.name LIKE CONCAT('%', #{keyword}, '%') -- 클라이언트 매니저명
                    OR d.email LIKE CONCAT('%', #{keyword}, '%') -- 클라이언트 이메일
                    OR e.client_company_name LIKE CONCAT('%', #{keyword}, '%') -- 고객사
                    OR b.campaign_name LIKE CONCAT('%', #{keyword}, '%') -- 캠페인명
                    )
                </when>
                <!-- 단일 필드 검색 -->
                <when test="searchType == 'campaignName' and keyword != null and keyword != ''">
                    AND b.campaign_name LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'clientCompanyName' and keyword != null and keyword != ''">
                    AND e.client_company_name LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'clientManagerName' and keyword != null and keyword != ''">
                    AND d.name LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <!-- 디폴트: 전체 -->
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>

            <!-- 공통 추가 필터: userName -->
            <if test="userName != null and userName != ''">
                AND f.name LIKE CONCAT('%', #{userName}, '%')
            </if>
        </where>
        ORDER BY a.satisfaction_id DESC
        LIMIT #{ limit } OFFSET #{ offset };
    </select>

    <select id="totalList" resultType="int">
        SELECT
            count(*)
        FROM satisfaction a
        JOIN campaign b ON a.campaign_id = b.campaign_id
        JOIN pipeline p ON p.campaign_id = b.campaign_id
        JOIN client_manager d ON d.client_manager_id = a.client_manager_id
        JOIN client_company e ON e.client_company_id = d.client_company_id
        JOIN user f ON f.user_id = p.writer_id
        JOIN influencer g ON g.influencer_id = a.influencer_id
        <where>
            b.campaign_status_id = 5
            AND p.pipeline_step_id = 7
            <choose>
                <!-- ALL 검색: keyword가 여러 필드 중 어디든 포함되면 통과 -->
                <when test="searchType == 'all' and keyword != null and keyword != ''">
                    AND (
                    g.name LIKE CONCAT('%', #{keyword}, '%') -- 인플루언서명
                    OR d.name LIKE CONCAT('%', #{keyword}, '%') -- 클라이언트 매니저명
                    OR d.email LIKE CONCAT('%', #{keyword}, '%') -- 클라이언트 이메일
                    OR e.client_company_name LIKE CONCAT('%', #{keyword}, '%') -- 고객사
                    OR b.campaign_name LIKE CONCAT('%', #{keyword}, '%') -- 캠페인명
                    )
                </when>

                <!-- 단일 필드 검색 -->
                <when test="searchType == 'campaignName' and keyword != null and keyword != ''">
                    AND b.campaign_name LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'clientCompanyName' and keyword != null and keyword != ''">
                    AND e.client_company_name LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'clientManagerName' and keyword != null and keyword != ''">
                    AND d.name LIKE CONCAT('%', #{keyword}, '%')
                </when>

                <!-- 디폴트: 전체 -->
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>

            <!-- 공통 추가 필터: userName -->
            <if test="userName != null and userName != ''">
                AND f.name LIKE CONCAT('%', #{userName}, '%')
            </if>
        </where>
    </select>

    <select id="getCampaignSatisfactionResponse" resultType="be15fintomatokatchupbe.email.query.dto.response.CampaignSatisfactionResponseDTO">
        SELECT
            ROUND((COUNT(CASE WHEN is_reacted = 'Y' THEN 1 END) / COUNT(*)) * 100, 1) AS campaignResponseRate
        FROM satisfaction;
    </select>

    <select id="getCampaignSatisfactionAverage" resultType="double">
        SELECT
              IFNULL(ROUND(AVG(score), 1), 0.0)
          FROM satisfaction
        WHERE is_reacted = 'Y';
    </select>

    <select id="getInfluencerSatisfactionScore" resultType="double">
        SELECT
            IFNULL(ROUND(AVG(a.score), 1), 0.0)
          FROM satisfaction a
          JOIN pipeline b ON a.campaign_id = b.campaign_id
          JOIN pipeline_influencer_client_manager c ON b.pipeline_id = c.pipeline_id
        WHERE a.is_reacted = 'N'
          AND influencer_id = #{ influencerId }
    </select>


</mapper>