<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.contract.query.mapper.DigitalContractMapper">

    <select id="findAllDigitalContracts"
            resultType="be15fintomatokatchupbe.contract.query.dto.response.DigitalContractDTO">
        SELECT
        digital_contract_id AS digitalContractId,
        template
        FROM
        digital_contract
        ORDER BY
        created_at DESC
    </select>

    <select id="findDigitalContractById"
            parameterType="long"
            resultType="be15fintomatokatchupbe.contract.query.dto.response.DigitalContractDetailResponse">
        SELECT
        digital_contract_id AS digitalContractId,
        template,
        created_at AS createdAt,
        content,
        is_used AS isUsed
        FROM
        digital_contract
        WHERE
        digital_contract_id = #{digitalContractId}
    </select>

</mapper>
