<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.client.query.mapper.ClientCompanyQueryMapper">

    <select id="findClientCompanyDetailById" resultType="be15fintomatokatchupbe.client.query.dto.ClientCompanyDetailResponse">
        SELECT
            cc.client_company_id AS clientCompanyId,
            cc.client_company_name AS name,
            cc.client_company_status_id AS statusId,
            cm.client_manager_id AS managerId,
            cm.name AS managerName,
            cm.position AS managerPosition,
            cm.department AS managerDepartment,
            cm.email AS managerEmail
        FROM client_company cc
                 LEFT JOIN client_manager cm ON cc.client_company_id = cm.client_company_id
        WHERE cc.client_company_id = #{clientCompanyId}
          AND cc.is_deleted = 'N'
          AND (cm.is_deleted = 'N' OR cm.client_manager_id IS NULL)
    </select>

</mapper>