<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.dashboard.query.mapper.CampaignDashboardQueryMapper">

    <select id="getRevenue" parameterType="long" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.CampaignGetRevenueDTO">
        SELECT
        CAST(c.sales_quantity AS CHAR) AS salesQuantity,

        CASE
        WHEN c.sales_quantity > 0 THEN ROUND(COALESCE(picm.total_profit, 0) / NULLIF(c.sales_quantity, 0), 0)
        ELSE NULL
        END AS averageUnitPrice,

        COALESCE(picm.total_profit, 0) AS totalProfit,

        CASE
        WHEN COALESCE(picm.ad_price, 0) > 0 THEN
        ROUND((COALESCE(picm.total_profit, 0) / NULLIF(picm.ad_price, 0)) * 100, 2)
        ELSE NULL
        END AS roasPercentage,

        COALESCE(p.expected_profit, 0) AS expectedProfit

        FROM campaign c
        LEFT JOIN pipeline p ON c.campaign_id = p.campaign_id
        LEFT JOIN pipeline_influencer_client_manager picm ON p.pipeline_id = picm.pipeline_id
        WHERE picm.pipeline_influencer_id = #{pipelineInfluencerId}
        AND p.pipeline_step_id = 7
        LIMIT 1
    </select>

    <resultMap id="ThumbnailResponseMap" type="be15fintomatokatchupbe.dashboard.query.dto.response.CampaignContentThumbnail">
        <result property="channelId" column="channel_id"/>
    </resultMap>

    <select id="findInfluencerChannelThumbnailByPipelineInfluencerId" parameterType="long" resultMap="ThumbnailResponseMap">
        SELECT
        y.channel_id AS channelId
        FROM
        pipeline_influencer_client_manage picm
        JOIN
        influencer i ON picm.influencer_id = i.influencer_id
        JOIN
        youtube y ON i.influencer_id = y.influencer_id
        WHERE
        picm.pipeline_influencer_id = #{pipelineInfluencerId}
    </select>

</mapper>