<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.dashboard.query.mapper.MainDashboardQueryMapper">

    <!--  신규 영업활동 조회  -->
    <select id="countSalesActivities" parameterType="long" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.SalesActivityResponse">
        SELECT
            (
                SELECT COUNT(*)
                FROM client_company cc
                JOIN client_company_user ccu ON cc.client_company_id = ccu.client_company_id
                WHERE ccu.user_id = #{userId}
                AND cc.is_deleted = 'N'
                AND cc.created_at >= NOW() - INTERVAL 30 DAY
            ) AS clientCompanyCount,

            (
                SELECT COUNT(*)
                FROM influencer i
                WHERE i.user_id = #{userId}
                AND i.is_deleted = 'N'
                AND i.created_at >= NOW() - INTERVAL 30 DAY
            ) AS influencerCount,

            (
                SELECT COUNT(*)
                FROM contract c
                JOIN influencer i ON c.influencer_id = i.influencer_id
                WHERE i.user_id = #{userId}
                    AND c.created_at >= NOW() - INTERVAL 30 DAY
            ) AS contractCount,

            (
                SELECT COUNT(*)
                FROM pipeline p
                JOIN pipeline_user pu ON p.pipeline_id = pu.pipeline_id
                JOIN pipeline_step ps ON p.pipeline_step_id = ps.pipeline_step_id
                WHERE pu.user_id = #{userId}
                    AND ps.step_name = '계약'
                    AND p.created_at >= NOW() - INTERVAL 30 DAY
                    AND p.is_deleted = 'N'
            ) AS pipelineCount
    </select>

    <!--  내 담당 고객사 조회  -->
    <select id="findClientCompanyByUserId" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.ClientCompanyResponse">
        SELECT
            cc.client_company_name,
            cc.telephone,
            cc.created_at,
            ccs.status_name
        FROM client_company cc
        JOIN client_company_status ccs ON cc.client_company_status_id = ccs.client_company_status_id
        JOIN client_company_user ccu ON cc.client_company_id = ccu.client_company_id
        WHERE cc.is_deleted = 'N'
            AND ccu.user_id = #{userId}
            AND cc.created_at >= DATE_SUB(NOW(), INTERVAL 30 DAY)
    </select>

    <!--  내 오늘 일정 조회  -->
    <select id="findTodaySchedule" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.TodayScheduleResponse">
        SELECT
            s.content,
            s.schedule_date,
            s.start_time,
            s.end_time,
            sc.hex_code
        FROM schedule s
        JOIN schedule_color sc ON s.schedule_color_id = sc.schedule_color_id
        WHERE s.user_id = #{userId}
            AND s.schedule_date = CURDATE()
    </select>

    <!--  내 리스트업 조회  -->
    <select id="findListupByUserId" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.ListupResponse">
        SELECT
            p.pipeline_id,
            cc.client_company_name AS company_name,
            c.campaign_name,
            c.product_name,
            p.name AS listup_title,
            MAX(cm.name) AS client_manager_name,
            MAX(cm.position) AS client_manager_position
        FROM pipeline p
        JOIN pipeline_user pu ON pu.pipeline_id = p.pipeline_id
        JOIN campaign c ON p.campaign_id = c.campaign_id
        JOIN client_company cc ON c.client_company_id = cc.client_company_id
        JOIN pipeline_step ps ON p.pipeline_step_id = ps.pipeline_step_id
        LEFT JOIN pipeline_influencer_client_manager picm ON picm.pipeline_id = p.pipeline_id
        LEFT JOIN client_manager cm ON picm.client_manager_id = cm.client_manager_id
        WHERE pu.user_id = #{userId}
            AND ps.step_name = '리스트업'
            AND p.is_deleted = 'N'
        GROUP BY
            cc.client_company_name,
            c.campaign_name,
            p.name;
    </select>

    <!--  내 제안 조회  -->
    <select id="findProposalByUserId" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.ProposalResponse">
        SELECT
            p.pipeline_id,
            cc.client_company_name AS company_name,
            c.campaign_name,
            c.product_name,
            p.name AS proposal_title,
            cm.name AS client_manager_name,
            cm.position AS client_manager_position,
            pss.status_name,
            p.created_at
        FROM pipeline p
        JOIN pipeline_user pu ON pu.pipeline_id = p.pipeline_id
        JOIN campaign c ON p.campaign_id = c.campaign_id
        JOIN client_company cc ON c.client_company_id = cc.client_company_id
        JOIN pipeline_step ps ON p.pipeline_step_id = ps.pipeline_step_id
        JOIN pipeline_status pss ON p.pipeline_status_id = pss.pipeline_status_id
        LEFT JOIN pipeline_influencer_client_manager picm ON picm.pipeline_id = p.pipeline_id
        LEFT JOIN client_manager cm ON picm.client_manager_id = cm.client_manager_id
        WHERE pu.user_id = #{userId}
            AND ps.step_name = '제안'
            AND p.is_deleted = 'N'
        GROUP BY
            cc.client_company_name,
            c.campaign_name,
            p.name;
    </select>

    <!--  내 계약 조회  -->
    <select id="findContractByUserId" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.ContractResponse">
        SELECT
            p.pipeline_id,
            cc.client_company_name AS company_name,
            c.campaign_name,
            c.product_name,
            p.name AS contract_title,
            p.expected_revenue,
            p.expected_profit,
            pss.status_name,
            p.created_at
        FROM pipeline p
        JOIN pipeline_user pu ON pu.pipeline_id = p.pipeline_id
        JOIN campaign c ON p.campaign_id = c.campaign_id
        JOIN client_company cc ON c.client_company_id = cc.client_company_id
        JOIN pipeline_step ps ON p.pipeline_step_id = ps.pipeline_step_id
        JOIN pipeline_status pss ON p.pipeline_status_id = pss.pipeline_status_id
        LEFT JOIN pipeline_influencer_client_manager picm ON picm.pipeline_id = p.pipeline_id
        WHERE pu.user_id = #{userId}
            AND ps.step_name = '계약'
            AND p.is_deleted = 'N'
        GROUP BY
            cc.client_company_name,
            c.campaign_name,
            p.name;
    </select>

    <!--  내 견적 조회  -->
    <select id="findQuotationByUserId" resultType="be15fintomatokatchupbe.dashboard.query.dto.response.QuotationResponse">
        SELECT
            p.pipeline_id,
            cc.client_company_name AS company_name,
            c.campaign_name,
            c.product_name,
            p.name AS quotation_title,
            picm.ad_price,
            p.expected_revenue,
            p.expected_profit,
            p.created_at
        FROM pipeline p
        JOIN pipeline_user pu ON pu.pipeline_id = p.pipeline_id
        JOIN campaign c ON p.campaign_id = c.campaign_id
        JOIN client_company cc ON c.client_company_id = cc.client_company_id
        JOIN pipeline_step ps ON p.pipeline_step_id = ps.pipeline_step_id
        LEFT JOIN pipeline_influencer_client_manager picm ON picm.pipeline_id = p.pipeline_id
        WHERE pu.user_id = #{userId}
        AND ps.step_name = '견적'
        AND p.is_deleted = 'N'
        GROUP BY
            cc.client_company_name,
            c.campaign_name,
            p.name;
    </select>

</mapper>
