<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.campaign.query.mapper.CampaignQueryMapper">
    <select id="findProposals" resultType="be15fintomatokatchupbe.campaign.query.dto.response.ProposalCardResponse">
        SELECT
        p.pipeline_id AS pipelineId,
        p.name AS name,
        ps.status_name AS statusId,
        cc.client_company_name AS clientCompanyName,
        cm.name AS clientManagerName,
        u.name AS userName,
        DATE_FORMAT(p.request_at, '%Y-%m-%d') AS requestAt,
        DATE_FORMAT(p.presented_at, '%Y-%m-%d') AS presentAt
        FROM
        pipeline p
        JOIN campaign c ON c.campaign_id = p.campaign_id
        JOIN client_company cc ON c.client_company_id = cc.client_company_id
        JOIN pipeline_influencer_client_manager picm ON p.pipeline_id = picm.pipeline_id
        JOIN pipeline_user pu ON p.pipeline_id = pu.pipeline_id
        JOIN user u ON u.user_id = pu.user_id
        JOIN client_manager cm ON cm.client_manager_id = picm.client_manager_id
        LEFT JOIN pipeline_status ps ON p.pipeline_status_id = ps.pipeline_status_id
        <where>
            p.pipeline_step_id = 3 AND p.is_deleted = 'N'

            <if test="req.keyword != null and req.category != null">
                <choose>
                    <when test="req.category == 'title'">
                        AND p.name LIKE CONCAT('%', #{req.keyword}, '%')
                    </when>
                    <when test="req.category == 'clientCompany'">
                        AND cc.client_company_name LIKE CONCAT('%', #{req.keyword}, '%')
                    </when>
                    <when test="req.category == 'user'">
                        AND cm.name LIKE CONCAT('%', #{req.keyword}, '%')
                    </when>
                </choose>
            </if>

            <if test="req.userId != null">
                AND u.user_id = #{req.userId}
            </if>
        </where>

        ORDER BY
        <choose>
            <when test="req.sort == 'date'">p.created_at</when>
            <when test="req.sort == 'title'">p.name</when>
            <otherwise>p.created_at</otherwise>
        </choose>
        <choose>
            <when test="req.sortOrder == 'desc'">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>

        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countProposals" resultType="int">
        SELECT COUNT(*)
        FROM pipeline p
        JOIN campaign c ON c.campaign_id = p.campaign_id
        JOIN pipeline_influencer_client_manager picm ON p.pipeline_id = picm.pipeline_id
        JOIN pipeline_user pu ON p.pipeline_id = pu.pipeline_id
        JOIN user u ON u.user_id = pu.user_id
        JOIN client_manager cm ON cm.client_manager_id = picm.client_manager_id
        <where>
            p.pipeline_step_id = 3 AND p.is_deleted = 'N'

            <if test="req.keyword != null and req.category != null">
                <choose>
                    <when test="req.category == 'title'">
                        AND p.name LIKE CONCAT('%', #{req.keyword}, '%')
                    </when>
                    <when test="req.category == 'clientCompany'">
                        AND c.client_company_id LIKE CONCAT('%', #{req.keyword}, '%')
                    </when>
                    <when test="req.category == 'user'">
                        AND cm.name = #{req.keyword}
                    </when>
                </choose>
            </if>

            <if test="req.userId != null">
                AND u.user_id = #{req.userId}
            </if>
        </where>
    </select>






</mapper>
