<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="be15fintomatokatchupbe.campaign.query.mapper.IdeaQueryMapper">
    <select id="getIdeaListsAll" resultType="be15fintomatokatchupbe.campaign.query.dto.mapper.IdeaDTO">
        SELECT    i.idea_id
                , i.pipeline_id
                , i.user_id
                , u.name
                , i.content
                , i.created_at
        FROM idea i
        JOIN user u ON i.user_id = u.user_id
        WHERE i.is_deleted = 'N'
        AND i.user_id = #{userId}
        ORDER BY i.created_at
    </select>

</mapper>